<?xml version="1.0"?>
<!--
  ~ @author Drubu Team
  ~ @copyright Copyright (c) 2021 Drubu
  ~ @package DrubuNet_Andreani
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <andreaniestandar>
                <active>1</active>
                <model>DrubuNet\Andreani\Model\Carrier\StandardDelivery</model>
                <name>Envio a domicilio</name>
                <use_fixed_price>0</use_fixed_price>
                <price>0.00</price>
                <sort_order>1</sort_order>
                <title>Andreani</title>
                <contract>400006709</contract>
                <sallowspecific>0</sallowspecific>
                <showmethod>1</showmethod>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <type>I</type>
                <handling_type>F</handling_type>
                <handling_fee>0.00</handling_fee>
            </andreaniestandar>
            <andreanisucursal>
                <active>1</active>
                <model>DrubuNet\Andreani\Model\Carrier\PickupDelivery</model>
                <name>Retiro en sucursal</name>
                <use_fixed_price>0</use_fixed_price>
                <price>0.00</price>
                <sort_order>2</sort_order>
                <title>Andreani</title>
                <contract>400006711</contract>
                <sallowspecific>0</sallowspecific>
                <showmethod>1</showmethod>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <type>I</type>
                <handling_type>F</handling_type>
                <handling_fee>0.00</handling_fee>
            </andreanisucursal>
            <andreanibigger>
                <active>1</active>
                <model>DrubuNet\Andreani\Model\Carrier\BiggerDelivery</model>
                <name>Envio a domicilio para pedidos > 50kg</name>
                <sort_order>3</sort_order>
                <title>Andreani</title>
                <contract>400006710</contract>
                <sallowspecific>0</sallowspecific>
                <showmethod>1</showmethod>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <type>I</type>
                <handling_type>F</handling_type>
                <handling_fee>0.00</handling_fee>
            </andreanibigger>
            <andreaniurgente>
                <active>1</active>
                <model>DrubuNet\Andreani\Model\Carrier\PriorityDelivery</model>
                <name>Envio a domicilio (Urgente)</name>
                <use_fixed_price>0</use_fixed_price>
                <price>0.00</price>
                <sort_order>3</sort_order>
                <title>Andreani</title>
                <contract>400006710</contract>
                <sallowspecific>0</sallowspecific>
                <showmethod>1</showmethod>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <type>I</type>
                <handling_type>F</handling_type>
                <handling_fee>0.00</handling_fee>
            </andreaniurgente>
        </carriers>
        <shipping>
            <andreani_configuration>
                <production_mode>0</production_mode>
                <debug_mode>1</debug_mode>
                <client_number>CL0003750</client_number>
                <tracking_url>https://usuarios.e-andreani.com/#!/informacionEnvio</tracking_url>
                <andreani_rest_prod_urls>
                    <login>https://api.andreani.com/login</login>
                    <rates>https://api.andreani.com/v1/tarifas</rates>
                    <createOrder>https://api.andreani.com/v2/ordenes-de-envio</createOrder>
                    <label>https://api.andreani.com/v2/ordenes-de-envio/{numeroAndreani}/etiquetas</label>
                    <shippingByNumber>https://api.andreani.com/v1/envios/{numeroAndreani}</shippingByNumber>
                    <provinces>https://api.andreani.com/v1/regiones</provinces>
                    <locations>https://apis.andreani.com/v2/sucursales?canal=B2C&#38;seHaceAtencionAlCliente=true</locations>
                </andreani_rest_prod_urls>
                <andreani_rest_dev_urls>
                    <login>https://api.qa.andreani.com/login</login>
                    <rates>https://api.qa.andreani.com/v1/tarifas</rates>
                    <createOrder>https://apisqa.andreani.com/v2/ordenes-de-envio</createOrder>
                    <label>https://apisqa.andreani.com/v2/ordenes-de-envio/{numeroAndreani}/etiquetas</label>
                    <shippingByNumber>https://api.qa.andreani.com/v1/envios/{numeroAndreani}</shippingByNumber>
                    <provinces>https://api.qa.andreani.com/v1/regiones</provinces>
                    <locations>https://apisqa.andreani.com/v2/sucursales?canal=B2C&#38;seHaceAtencionAlCliente=true</locations>
                </andreani_rest_dev_urls>
            </andreani_configuration>
        </shipping>
    </default>
</config>
