<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Api/etc/extension_attributes.xsd">
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="shipping/andreani_configuration/password" xsi:type="string">1</item>
                <item name="shipping/andreani_configuration/username" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>

    <!-- Plugin for add custom attributes in shipping and billing address form -->
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="DrubuNet\Andreani\Checkout\LayoutProcessorPlugin" type="DrubuNet\Andreani\Plugin\Checkout\LayoutProcessorPlugin" sortOrder="10"/>
    </type>

    <!-- Plugin for saving custom attributes in quote/order address -->
    <type name="Magento\Quote\Model\BillingAddressManagement">
        <plugin name="DrubuNet\Andreani\Quote\Model\BillingAddressManagement" sortOrder="10" type="DrubuNet\Andreani\Plugin\Quote\Model\BillingAddressManagement"/>
    </type>

    <type name="Magento\Quote\Model\Quote\Address\BillingAddressPersister">
        <plugin name="DrubuNet\Andreani\Quote\Model\Quote\Address\BillingAddressPersister" sortOrder="10" type="DrubuNet\Andreani\Plugin\Quote\Model\Quote\Address\BillingAddressPersister"/>
    </type>

    <type name="Magento\Quote\Model\ShippingAddressManagement">
        <plugin name="DrubuNet\Andreani\Quote\Model\ShippingAddressManagement" sortOrder="10" type="DrubuNet\Andreani\Plugin\Quote\Model\ShippingAddressManagement"/>
    </type>

    <!-- Data provider for Andreani grid -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="andreani_sales_order_grid_data_source" xsi:type="string">Magento\Sales\Model\ResourceModel\Order\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
