<?xml version="1.0"?>
<!--
/**
* Configuracion de rutas para los controladores
*
* @category    DrubuNet
* @package     drubunet_andreani
* @author      Drubu Team
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="andreani" frontName="andreani">
            <module name="DrubuNet_Andreani" />
        </route>
    </router>
</config>