<?xml version="1.0"?>
<!--
  ~ @author Drubu Team
  ~ @copyright Copyright (c) 2021 Drubu
  ~ @package DrubuNet_Andreani
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add
            id="DrubuNet_Andreani::menuPrincipal"
            title="Andreani" module="Magento_Config"
            sortOrder="70"
            resource="Magento_Config::brand"
        />
        <add
            id="DrubuNet_Andreani::guias"
            title="Generación masiva de guías"
            module="DrubuNet_Andreani"
            sortOrder="100"
            parent="DrubuNet_Andreani::menuPrincipal"
            action="andreani/order/index"
            resource="DrubuNet_Andreani::shipping_operations"
        />
    </menu>
</config>
